#large-inventory {
    position: block;
    width: 1054px;
    height: fit-content;
    align-content: center;
    background-color: rgb(255, 235, 210);
    border-style: ridge;
    border-color: rgba(39, 50, 72, 0.1);
    border-width: 3px;
}

#medium-inventory {
    position: block;
    width: 1034px;
    height: fit-content;
    margin: 10px;
    align-content: center;
    background-color: rgb(252, 118, 67);
    border-style: inset;
    border-color: rgb(255, 235, 210, 0.3);
    border-width: 3px;
}

#inventory {
    position: block;
    width: 1004px;
    height: fit-content;
    margin: 10px;
    background-color: rgb(175, 79, 65);
    border-style: ridge;
    border-color: rgb(252, 118, 67, 0.3);
    border-width: 3px;
    box-shadow: 5px 5px 5px rgba(39, 50, 72, 0.3);
}