#large-join {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -44%);
    width: 654px;
    height: 554px;
    background-color: rgb(255, 235, 210);
    border-style: ridge;
    border-color: rgba(39, 50, 72, 0.1);
    border-width: 3px;
}

#medium-join {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 634px;
    height: 534px;
    background-color: rgb(252, 118, 67);
    border-style: inset;
    border-color: rgb(255, 235, 210, 0.3);
    border-width: 3px;
}

#join {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 614px;
    height: 514px;
    background-color: rgb(175, 79, 65);
    border-style: ridge;
    border-color: rgb(252, 118, 67, 0.3);
    border-width: 3px;
    box-shadow: 5px 5px 5px rgba(39, 50, 72, 0.3);
}

#join h1 {
    width: 450px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 235, 210);
    border-bottom-style: ridge;
    border-color: rgba(39, 50, 72, 0.5);
    border-width: 3px;
    font-size: xx-large;
}

#box{
	position:absolute;
    width: 250px;
	left:50%;
    top: 55%;
	transform: translate(-50%,-45%);
}

#input-container{
	position:relative;
	margin-bottom:25px;
}

#input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgb(255, 235, 210);	
    pointer-events: none;
	transition: all 0.5s ease-in-out;
}

#input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(255, 235, 210);
}

#input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid rgb(39, 50, 72);	
}

#input-container input:focus ~ label,
#input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

label {
    color: rgb(255, 235, 210);
}

.register-btn {
    background-color: rgb(175, 79, 65);
    color: rgb(255, 235, 210);
    border-radius: 5px;
    margin-top: 10px;
}