{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/home.css">
<div id="large-welcome">
	<div id="medium-welcome">
		<article id="welcome">
			<h1>Welcome to Galactic Trove!</h1>
			<p>Galactic Trove is a service built by a player/collection/seller for players, 
				collectors and sellers. Wanting to keep track of your MTG collection as well as know its gain in value overtime? 
				Well you have come to the right place as thats what I've built for you. 
				Enter your card information and get live pricing data day by day to keep track of your cellections value over time.</p>
		</article>
	</div>
</div>
{% endblock %}