{% extends 'store_base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/inventory.css">
{% for x in inventories_in_db %}
<div id="large-inventory">
    <div id="medium-inventory">
        <article id="inventory">
                    <div class="tables-container">
                        <div class="tableheader-container">
                            <div class="tableheader">
                                <div class="tr-inventoryheader">
                                    <div class="td-inventoryname" contenteditable="true" id="inventory_name" onblur="inventory_name_change()"> {{ x.inventory_name }}
                                    </div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell">&nbsp;</div>
                                    <div class="divTableCell" id="collection-value"></div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell">Card Name</div>
                                    <div class="divTableCell">Set Name</div>
                                    <div class="divTableCell">Finish</div>
                                    <div class="divTableCell">Quantity</div>
                                    <div class="divTableCell">Individual Value</div>
                                    <div class="divTableCell">Total Value</div>
                                </div>
                            </div>
                        </div>

                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">&nbsp;</div>
                        <div class="divTableRow">&nbsp;</div>
                        <div class="divTableRow">
                            <form action="">
                                <div class="divTableCell">
                                    <button type="button" class="add-card-btn">Add</button>
                                </div>
                                <div class="divTableCell">
                                    <input type="search" class="card-name-search" id="card-name-search" placeholder="Card Name">
                                    <div id="result-card"></div>
                                </div>
                                <div class="divTableCell">
                                    <input type="search" class="set-name-search" id="set-name-search" placeholder="Set Name">
                                    <div id="result-set"></div>
                                </div>
                                <div class="divTableCell">
                                    <select class="finish-select" id="finish-select" aria-placeholder="Finish">
                                        <div id="result-finishes"></div>
                                    </select>
                                </div>
                                <div class="divTableCell">Quantity
                                    <input type="number" class="card-quantity" id="card-quantity" placeholder="0">
                                </div>
                                <div class="divTableCell">Individual Value</div>
                                <div class="divTableCell">Total Value</div>
                            </form>
                        </div>
                    </div>
                </div>
                {% set this_inventory = card_inventory[loop.index0] %}
                {% for card in this_inventory %}
                <div class="divTableRow">
                    <div class="divTableCell">
                        <button type="button" class="delete-card-btn" id="{{ card['card_id'] }}" onclick="deletecardfrominventory(this.id)">X</button>
                    </div>
                    <div class="divTableCell">{{ card['card_name'] }}</div>
                    <div class="divTableCell">{{ card['set_name'] }}</div>
                    <div class="divTableCell">{{ card['finish'] }}</div>
                    <div class="divTableCell">{{ card['quantity']}}</div>
                    {% if card['finish'] == 'nonfoil'%}
                    <div class="divTableCell">${{ card['nonfoil_price']|float }}</div>
                    {% elif card['finish'] == 'foil'%}
                    <div class="divTableCell">${{ card['foil_price']|float }}</div>
                    {% elif card['finish'] == 'etched'%}
                    <div class="divTableCell">${{ card['etched_price']|float }}</div>
                    {% endif %}
                    {% if card['finish'] == 'nonfoil'%}
                    <div class="divTableCell" id="total_price" data-value="{{ (card['quantity'] * card['nonfoil_price']|float)|float }}">${{ (card['quantity'] * card['nonfoil_price']|float)|float }}</div>
                    {% elif card['finish'] == 'foil'%}
                    <div class="divTableCell" id="total_price" data-value="{{ (card['quantity'] * card['foil_price']|float)|float }}">${{ (card['quantity'] * card['foil_price']|float)|float }}</div>
                    {% elif card['finish'] == 'etched'%}
                    <div class="divTableCell" id="total_price" data-value="{{ (card['quantity'] * card['etched_price']|float)|float }}">${{ (card['quantity'] * card['etched_price']|float)|float }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
                <script>
                    function inventory_name_change(){
                        let name = document.getElementById("inventory_name")
                        let inventory_id = '{{ x.inventory_id }}'
                        let inventoryname = name.textContent
                        let dict_values = {inventory_id, inventoryname}
                        let s = JSON.stringify(dict_values)
                        $.ajax({
                            url:"/updateinventoryname",
                            type:"POST",
                            contentType: "application/json",
                            data: JSON.stringify(s)
                        })
                    }
                    let card_list = {{ cards_list|safe }}
                    async function get_set_names(card_name){
                        let set_names = await fetch(`http://10.0.0.6:5000/inventory_get_set_autocomplete_list/${card_name}`)
                        return await set_names.json()
                    }
                    async function get_finishes_list(card_name, set_name){
                        let finishes_list = await fetch(`http://10.0.0.6:5000/inventory_get_finishes_autocomplete_list/${card_name}&${set_name}`)
                        return await finishes_list.json()
                    }
                    
                    function addtoinventory(){
                        let inventory_id = '{{ x.inventory_id }}'
                        let store_id = '{{ store_id }}'
                        let card_name = document.getElementById('card-name-search').value
                        let set_name = document.getElementById('set-name-search').value
                        let quantity = document.querySelector('.card-quantity').value
                        let finish = document.getElementById('finish-select').value
                        let dict_values = {inventory_id, card_name, set_name, quantity, finish}
                        let s = JSON.stringify(dict_values)
                        $.ajax({
                            url:"/inventory_addnewcard",
                            type:"POST",
                            contentType: "application/json",
                            data: JSON.stringify(s),
                            success: location.href = `/inventory/${store_id}`
                        })
                    }
                    function deletecardfrominventory(card_id){
                        console.log(card_id)
                        let inventory_id = '{{ x.inventory_id }}'
                        let store_id = '{{ store_id }}'
                        let dict_values = {inventory_id, card_id}
                        let s = JSON.stringify(dict_values)
                        
                        $.ajax({
                            url:"/inventory_deletecard",
                            type:"POST",
                            contentType: "application/json",
                            data: JSON.stringify(s),
                            success: location.href = `/inventory/${store_id}`
                        })
                    }
                    let collectionValues = document.querySelectorAll('[id=total_price]')
                    let collectionValue = 0.00
                    for(let i = 0; i < collectionValues.length; i++){
                        let totalvalue = collectionValues[i].attributes[2].value
                        let floatvalue = parseFloat(totalvalue)
                        collectionValue += floatvalue
                    }
                    let totalcollectionvalue = collectionValue.toFixed(2)
                    document.getElementById('collection-value').innerHTML = "Collection Value: " + totalcollectionvalue
                    </script>
            </div>
            {% endfor %}
            <script src="{{ url_for('static', filename="js/inventory.js") }}"></script>
        </article>
    </div>
</div>
    {% endblock %}